// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.MypageToToppage {
    position:fixed;
    left:50px;
    bottom:50px;
    transition:1s;
    opacity:0.7;   
    }

.MypageToNew {
    position:fixed;
    right:50px;
    bottom:50px;
    transition:1s;
    opacity:0.7;
}  

.header-mypage {
    background-image: url("Myroom.jpg");
    width: 100%;
    height: 32vh;
    position: relative;
    z-index: 5;
}

.usericon-parent {
    width: 100%;
    margin-top: -100px;
    z-index: 10;
    position: relative;
    align-items: center;
    display: flex;
}

.usericon {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-right: 3%;
    border: 2px solid #ccc;
    background: #eee;   
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
    display: inline;
}

.profile-text {
    margin-top: -70px;
    margin-bottom: 50px;
    z-index: 20;
    position: relative;
    margin-left: 35%;
}

.tabs {
    margin-top: 50px;
    padding-bottom: 40px;
    background-color: #fff;
    width: 75%;
    margin: 0 auto;
}
  
.tab_item {
    width: calc(100%/2);
    height: 50px;
    border-bottom: 3px solid #5ab4bd;
    background-color: #d9d9d9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
}
.tab_item:hover {
    opacity: 0.75;
}

input[name="tab_item"] {
    display: none;
}

.tab_content {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
}

#all:checked ~ #all_content,
#programming:checked ~ #programming_content {
    display: block;
}

.tabs input:checked + .tab_item {
    background-color: #5ab4bd;
    color: #fff;
}

.icon02 {
    width: 100px;
}

.MypageToNew:hover .icon_new_guide {
    display: inline;
}
  
.icon_new_guide {
    position   : absolute;
    display: none;
    padding: 2px;
    color: aliceblue;
    border-radius: 5px;
    background-color:pink;
    width:100px;
    top: 50px;
    left: 0px;
    font-size: 12px;
    text-align: center;
}

.icon03 {
    width: 100px;
}

.MypageToToppage:hover .icon_top_guide {
    display: inline;
  }

  .icon_top_guide {
    position   : absolute;
    display: none;
    padding: 2px;
    color: aliceblue;
    border-radius: 5px;
    background-color:pink;
    width:100px;
    top: 50px;
    left: 0px;
    font-size: 12px;
    text-align: center;
  }